{% extends "main.j2" %}
{% block content %}
  <div id="about" class="about">
    <p>
      Hi, I am Jonathan. I work for <a href="http://www.digitalfoodie.com/" target="_blank">Digital Foodie</a> as a site reliability engineer. As such, I write code and work on the infrastructure, helping us provide a pleasant experience to the users, and a reliable system for our company's customers.
    </p><p>
      As a programmer, I favor Python for most tasks. I have a scientific background and Python has great tools for data processing and visualization. I also use C in microcontrollers for electronics projects. I am learning Elixir for it's functional elegance. It's concise syntax on top of Erlang's robust OTP is quite exciting. Of course, for my web projects, I write a bit of vanilla JS.
    </p><p>
      On week-ends I like to go off the grid. I ski (cross-country and alpine touring), bike, train run, hike, and sometimes sink, uh, I mean swim. I have also started climbing a bit indoors with the aim of converting to the outdoors soon.
    </p>
  </div>
{% endblock %}
