{% extends "main.j2" %}
{% block content %}
  <div id="cv" class="cv">
    <section id="contact">
      <div class="name"><span>Jonathan Villemaire-Krajden</span></div>
      <div class="wrap">
        <div class="address"><span>{{cv.personal.address}}</span></div>
        <div class="address2"><span>{{cv.personal.address2}}</span></div>
        <div class="address3"><span>{{cv.personal.address3}}</span></div>
      </div><div class="wrap">
        <div class="email"><a href="mailto:{{cv.personal.email}}">{{cv.personal.email}}</a></div>
        <div class="phone"><a href="tel:{{cv.personal.phone}}">{{cv.personal.phone}}</a></div>
      </div><div class="wrap">
        <div class="url"><a href="{{cv.personal.url}}">{{cv.personal.url}}</a></div>
        <div class="nationality"><span>{{ _('Nationality:') }} {{ cv.personal.nationality }}</span></div>
        <div class="languages">{{cv.personal.languages}}</div>
      </div>
    </section>
    <section id="profile">
      <h3>{{ _('Profile') }}</h3>
      {{ cv.sections.profile }}
      <div class="timeline"></div>
    </section>
    <section id="experience">
      <h3>{{ _('Experience') }}</h3>
      {% for exp in cv.sections.experience %}
        <div class="panel">
          <div class="qualifier"><span>{{ exp.start}} - {{exp.end}}</span>
          </div><div class="description">
            <div>
              <span class="role">{{ exp.role }}</span>
            </div>
            <div class="job">
              <span class="company">{{ exp.company }}</span>
              〉<span class="employer_description">{{ exp.employer_description }}</span>
            </div>
            <ul class="achievements">
              {% for ach in exp.achievements %}
                <li>{{ ach }}</li>
              {% endfor %}
            </ul>
            <div class="achievement">
              {{ exp.achievement }}
            </div>
          </div>
        </div> {# end panel #}
        {{ '<div class="break"></div>' if not loop.last }}
      {% endfor %}
    </section>
    <section id="education">
      <h3>{{ _('Education') }}</h3>
      {% for ed in cv.sections.education %}
        <div class="panel">
          <div class="qualifier">
            <span class="date">{{ ed.start }} - {{ ed.end }}</span>
          </div><div class="description">
            <div><span class="establishment">{{ ed.establishment }}</span></div>
            <div><span class="degree">{{ ed.degree }}</span></div>
            {% if ed.sub %}<div class="sub">{{ ed.sub }}</div>{% endif %}
            {% if ed.courses %}
              <ul>
                {% for course in ed.courses %}
                  <li>{{ course }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
        {{ '<div class="break"></div>' if not loop.last }}
      {% endfor %}
    </section>
    <section id="technical">
      <h3>{{ _('Technical Skills') }}</h3>
      {% for skillset in cv.sections.technical_skills %}
        <div class="panel">
          <div class="qualifier">{{ skillset }}
          </div><div class="description">
            <span class="skill">{{ cv.sections.technical_skills[skillset] }}</span>
          </div>
        </div>
        {{ '<div class="break"></div>' if not loop.last }}
        {% endfor %}
      </ul>
    </section>
    <section id="projects">
      <h3>{{ _('Projects') }}</h3>
      {{ cv.sections.projects.text | safe }}
  </div>
{% endblock %}
