<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <title>{{ _(title) }} | j-vk</title>
    <meta name="description" content="About Jonathan Villemaire-krajden">
    <meta name="author" content="Jonathan Villemaire-Krajden">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/vendor/normalize.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" media="print" href="/static/css/print.css">
    {% for css in css %}
      <link rel="stylesheet" href="{{css.href}}">
    {% endfor %}
      <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <header>
    <div class="site">
      <h1>{{ _("Jonathan's bookshelf") }}</h1>
      <span class="description">{{ _("Find here an odd assortment of thoughts I put online.") }}</span>
    </div>
    <div class="lang-switcher">
      <span>🌐</span>
      <ul>
        {% for translation, link in translations.items() if lang != translation %}
        <li><a href="{{ link }}">{{ translation }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <nav>
      <ul class="main">
        <li><a href="/{{ lang }}">j-vk.com</a></li>
        {% for section in sections[lang] %}
        <li><a {{section|xmlattr}}
               {% if section.href == path %} class="active"{% endif %}>
            {{ section.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <section id="content">
    {% block content %}
    {% endblock %}
  </section>
  <footer>
    <div id="contact">
      <p>{{_('Contact me:') }} <a href="/static/jonathanvk.vcard" alt="{{_('Download contact card')}}"> ↓ </a></p>
      <div class="h-card">
        <p><a class="p-name u-url" href="https://j-vk.com/">Jonathan Villemaire-Krajden</a></p>
        <p>@: <a class="u-email" href="mailto:jonathan@j-vk.com">jonathan@j-vk.com</a></p>
      </div>
    </div>
  </footer>
  </body>
</html>
