#content {
    font-family: 'Computer Modern Serif';
    padding-top: 2em;
}

section {
    width: 100%;
    clear: both;
    text-align: justify;
}

h3 {
    margin: 1.5em 0 0.8em 0;
}

ul {
    margin: 0;
    padding: 0 0 0 12px;
    list-style-type: none;
}

ul li {
    padding-left: 1em;
    text-indent: -1em;
}

ul li:before {
    content: '⁃';
    padding-right: 0.5em;
}

div.break {
    margin: 0.9em;
    clear: both;
}

div.qualifier {
    display: inline-block;
    width: 16%;
    vertical-align:top;
}

div.description {
    display: inline-block;
    width: 82.9%;
    border-left: #ccc solid 1px;
    padding-left: 1%;
    text-align: justify;
}

#contact .name {
    width: 100%;
    padding-left: 1%;
    clear: both;
    border-bottom: solid black 1px;
    padding-bottom: 0.05em;
    margin-bottom: 0.05em;
    font-size: 1.1em;
}

#contact .name span {
    font-weight: bold;
}

#contact .wrap {
    display: inline-block;
    width: 33%;
    vertical-align:top;
}

span.role {
    font-weight: bold;
}

span.company {
    font-weight: 600;
    color: #444;
}

span.employer_description {
    color: #444;
    font-style: italic;
}

div.achievement {
    padding: 0.2em 0 0.1em 0;
}

span.establishment {
    font-weight: bold;
}

span.degree {
    font-weight: 600;
    color: #444;
}

@media only screen and (min-device-width: 768px) {
}

@media only screen and (min-device-width: 1224px) {
}

@page {
    size: A4;
    margin: 3cm 1.7cm 1.5cm 1.7cm;
}

@page :first {
    size: A4;
    margin: 1.5cm 1.7cm 1.8cm 1.7cm;
}

@media print {
    html {
        margin: 0;
        padding: 0;
    }

    body {
        margin: 0;
        padding: 0;
    }

    a {
        color: black;
        text-decoration: none;
    }
}
