html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
}

@media only screen and (min-device-width: 768px) {
    body {
        width: 95%;
    }
}

@media only screen and (min-device-width: 1224px) {
    body {
        max-width: 1400px;
        width: 80%;
    }
}


/* === Specific items === */



/* === Specific pages === */
