html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1000px;
}





/* === Specific items === */



/* === Specific pages === */
